#live-preview img {
    width: 100%;
    height: auto;
    border: 5px solid black;
}

#create-tools {
    display: flex;
    gap: 2rem;
}

#create-tools ul {
    width: 30%
}

#live-preview {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#create-header {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}
