@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#design-tools {
    display: flex;
    max-height: 75vh;
    width: 100%;
}

#clothing-select {
    display: flex;
    justify-content: center;
    width: 50%;
}

#live-preview {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#live-preview img {
    border: 8px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

#create-header {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.menu {
    list-style: none;
    width: 80%;
}

.dropdown-btn {
    width: 100%;
    background: #C6E0FF;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: left;
    font-family: 'Lexend';
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    list-style: none;
    background: #FF5D60;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.arrow {
    margin-left: auto;
}

.color-select {
    background-color: #C6E0FF;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-template-rows: 80px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.colors button {
    width: 70px;
    height: 70px;
    border: 4px solid black;
    border-radius: 10px;
}

.colors button:hover {
    transform: scale(1.1);
}