@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 10px 50px 25px 50px;
    background: #FF5D60;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 50px;
}

.login-box h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  border-bottom: 4px solid black;
  padding-bottom: 5px;
}

.login-box .user-box {
    position: relative;
    margin-bottom: 35px;
}

.login-box .user-box input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 15px;
    font-family: 'Lexend';
    color: black;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 0;
}

.login-box .user-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FF5D60 inset;
}

.login-box .user-box label {
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 0;
    color: black;
    pointer-events: none;
    transition: 0.4s ease;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -15px;
    font-size: 13px;
    color: #000;
}

.login-box .buttons {
    margin-top: -30px;
}

.login-box button {
    font-family: 'Lexend';
    cursor: pointer;
    font-size: 13px;
    background-color: #C6E0FF;
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
}

.login-box button:hover {
    transform: scale(0.95);
}

#github-link:link,
#github-link:visited {
    color: #A8006B;
    text-decoration: none;
}

#github-link:hover {
    text-decoration: underline;
}