@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background-color: #FFD2D2;
  font-family: 'Lexend';
}

.heading {
    font-family: 'Hachi Maru Pop';
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  padding: 10px;
}

header h1{
  font-size: 35px;
  margin: 10px;
}

header hr{
  border: none;
  height: 2px;
  background-color: black;
  width: 100%;
  width: calc(100vw);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}