@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body {
  background-color: #FFD2D2;
}

.heading {
    font-family: 'Hachi Maru Pop';
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 50px;
    padding-top: 10px;
    background: #FF5D60;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 50px;
}

.login-box h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.login-box .user-box input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    width: 100%;
    outline: none;
}