@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body {
  background-color: #FFD2D2;
}

.heading {
    font-family: 'Hachi Maru Pop';
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {

}