@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#design-tools {
    display: flex;
    width: 100%;
}

#clothing-select {
    display: flex;
    justify-content: center;
    width: 50%;
}

#live-preview {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#live-preview img {
    border: 8px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    width: 80%;
    margin: 0;
    padding: 0;
}

.design-dropdown {
    display: block;
}

.dropdown-btn {
    width: 100%;
    background: #C6E0FF;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: left;
    font-family: 'Lexend';
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.design-dropdown-menu {
    list-style: none;
    font-size: 18px;
    margin: 5px 20px 5px 40px;
    padding: 10px;
    display: none;
}

.design-dropdown-menu li {
    background: #C6E0FF;
    border: 2.5px solid black;
    box-shadow: 2px 2px 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 8px 0px 8px 22px;
    cursor: pointer;
}

.design-dropdown-menu li:hover {
    transform: scale(1.02);
    background-color: #84baf9;
} 

.design-dropdown-menu.show {
    display: block;
}

.dropdown-menu.show {
    display: block;
}

.arrow {
    margin-left: auto;
}

.preview-stack {
    position: relative;
    width: 400px;
    height: 500px;
}

.preview-stack img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-select {
    background-color: #C6E0FF;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#color-label {
    font-family: "Hachi Maru Pop";
    font-weight: bold;
    font-size: 20px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-auto-rows: 80px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: white;
    padding-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
}

.colors button {
    width: 70px;
    height: 70px;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.colors button:hover {
    transform: scale(1.1);
} 

#dark-red {
    background-color: #590303;
}

#red-orange {
    background-color: #FF552E;
}

#yellow {
    background-color: #FFF875;
}

#olive {
    background-color: #3C5920;
}

#blue {
    background-color: #3c4dea;
}

#dark-purple {
    background-color: #50005b;
}

#light-pink {
 background-color: #ffa1c6;
}

#light-brown {
    background-color: #CD8B62;
}

.save-design {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.save-btn {
    font-family: 'Lexend';
    cursor: pointer;
    font-size: 15px;
    background-color: #C6E0FF;
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    width: 140px;
}

.save-btn:hover {
    transform: scale(0.95);
}