.profile {
    display: flex;
    justify-content: center;
}

.profile-img-wrapper {
    position: relative;
    width: 30vw;
    aspect-ratio: 1 / 1;
}

#profile-img {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 50%;
    object-fit: cover;
}

#edit-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 20%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.designs {
    list-style: none;
    padding: 0;
}

.designs li {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
}

.designs img {
    width: 100%;
    border: 4px solid black;
    border-radius: 10px;
}